# Permanent redirect to HTTPS
#0.0.0.0:80 {
#  log stdout
#  errors stderr
#  redir https://{$CADDY_HOSTNAME}{uri} 301
#}

https://robszumski.com {
  log stdout
  errors stderr
  tls rob@robszumski.com
  proxy / http://robszumski.public.svc.cluster.local {
    proxy_header Host {host}
  }
}

https://falloutweb.com {
  log stdout
  errors stderr
  tls rob@robszumski.com
  proxy / http://falloutweb.public.svc.cluster.local {
    proxy_header Host {host}
  }
}
