# Permanent redirect to HTTPS
#0.0.0.0:80 {
#  log stdout
#  errors stderr
#  redir https://{$CADDY_HOSTNAME}{uri} 301
#}

https://{$CADDY_HOSTNAME} {
  log stdout
  errors stderr
  tls {$CADDY_EMAIL}
  proxy / http://{$CADDY_BACKEND} {
    proxy_header Host {host}
  }
}
